---
title: Kathleen Beckman for Clearwater City Council, Seat 3
layout: default
bodyClass: page-home
---

<div class="container pt-2">
    <h1 class='headline pb-1 pt-1 pb-sm-5 pt-sm-5'>
        {{ page.title }}
    </h1>
    {% if false %}
      <div class="call">
        <div class="call-box-top">
          <div class="call-phone"><strong>Phone: </strong>
            <a href="tel:{{ site.data.contact.phone }}">
              {{ site.data.contact.phone }}
            </a>
          </div>
          <div class="call-email"><strong>Email: </strong>
            <a href="mailto:{{ site.data.contact.email }}">
              {{ site.data.contact.email }}
            </a>
          </div>
        </div>
        <div class="call-box-bottom">
            <a href="{{site.baseurl}}/donate" class="button">
                Donate
            </a>
        </div>
      </div>
    {% endif %}
</div>
<div class="splash-desktop">
    <img src="/images/banner.jpg"
        style="max-width:100%"
        alt='Kathleen Beckman for Clearwater City Council: A new leader for residents, neighborhoods, small businesses, & the future of our environment and economy!'
        title='Kathleen Beckman for Clearwater City Council'
    />
</div>
<div class="splash-mobile">
    <div class="splash-copy p-3">
        A new leader for residents, neighborhoods, small businesses, & the future of our environment and economy!
    </div>
    <img src="/images/kathleen_beckman.jpg"
        style="max-width:100%"
        alt='Kathleen Beckman for Clearwater City Council: A new leader for residents, neighborhoods, small businesses, & the future of our environment and economy!'
        title='Kathleen Beckman for Clearwater City Council'
    />
</div>

<div class="container callout">
    <div class="item">
        <video controls style="max-width: 100%">
            <source src="/videos/week_in_review-2019-11-25.mov"
                    type="video/mp4">
        </video>
    </div>
</div>
<div class="container pt-3 pb-4 pb-md-4">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 id="priorities" class="title-3 text-dark mb-3">Kathleen will...</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 300 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container pt-1 pb-8 pb-md-10">
  <div class="row justify-content-center">
      <a href="/about" class="button">
          Learn more about Kathleen
      </a>
  </div>
  <div class='pt-8 pl-md-10 pr-md-10'>
        <p class="">
            BREAKING: New Op-Ed on the shady Republican PAC campaigning going on in our election.
        </p>
        <div class="testimonials testimonials-summary">
            <div class="testimonials-meta">
                <p class="h4 testimonials-name">
                    <a target="_blank" href="https://www.tampabay.com/opinion/2020/03/13/shadow-group-weaponizes-scientology-in-clearwater-election-editorial/">
                        Shadow group weaponizes Scientology in Clearwater election | Editorial
                    </a>
                </p>
            </div>
            <div class="testimonials-content">
                <blockquote>
                    <p class="mb-0">
                        It’s entirely unfair to flood voters with deceptive phone calls and mailers targeting one particular candidate for politically partisan reasons and not come out of the shadows to identify yourself. That’s how low Republicans are sinking to target council candidate Kathleen Beckman, and Clearwater voters should not put up with it.
                    </p>
                </blockquote>
            </div>
        </div>
  </div>
</div>
