<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
              <li><strong>Phone: </strong><a href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a></li>
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
            <li>
                Political advertisement paid for and approved by Kathleen Beckman for Clearwater City Council, District 3.
            </li>
          </ul>
          <ul>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
