.page-services-list {
  background-image: url('../images/undraw_voting_nvu7.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 80px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px 40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% 50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: 95% 80px;
  }
  .container.pb-6 {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
